@import "tailwindcss";

@theme {
  /* Brand */
  --primary: #9a0002;
  --secondary: #fff8f3;
  --tertiary: #fff;
  --accent: #fff;

  /* Status */
  --success: #fff;
  --warning: #fff;
  --danger: #fff;
  --info: #fff;

  /* Layout & text */
  --bg-main: #fff8f3;
  --bg-surface: #fff;
  --text-primary: #ffffff;
  --text-secondary: #fff;
  --text-inverse: #fff;
}
